/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/
body{
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size:20px;
    width:99%;
    margin-left:auto;
    margin-right: auto;
    background-color:#42d1b9;
}
h1{
    font-size:60px;
    font-family: 'Londrina Sketch', cursive;
}
/* header styles */

.top-nav{
    width:98%;
    display:inline;
    padding:1rem;
    margin-left:auto;
    margin-right: auto;
}
.small-logo{
    float:left;
    padding:1.5rem;
    width:10%;
}

.content {
    float:right;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    list-style: outside none none;
    width:40%;
    letter-spacing: 0.09rem;
    font-family: 'Londrina Solid', cursive;
}

.content li{
    display:inline-block;
    padding:0.3rem;
}

/* content styles */

.main-container{
    padding:10rem;
    margin-top:auto;
    border:2rem;
    margin-right:auto;
    margin-left:auto;
    width:75%;
    text-align: center;
}

.main-heading{
    padding:3rem;
    background-color:aliceblue
}

/* footer styles */


/* mobile styles */

@media only screen and (max-width:1024px) {
    body{
        color:blue;
    }
}

@media only screen and (max-width:768px) {
    body{
        color:red;
    }
}

@media only screen and (max-width:480px) {
    body{
        color:green;
    }

    @media only screen and (max-width:320px) {
        body{
            color:yellow;
        }
    }
}
