/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    background-color: #90CCF4;
}

html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -120px;
}

.page-wrap:after {
    content: "";
    display: block;
}

footer,
.page-wrap:after {
    /* .push must be the same height as footer */
    height: 120px;
}

p {
    font-size: 15px;
}

.my-links {
    font-weight: bold;
    font-size: 17px;
}

h1 {
    font-size: 80px;
    font-family: 'Londrina Sketch', cursive;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 50px;
    font-family: monospace;
}

h4 {
    font-weight: bold;
}

.my-nav {
    background-color: #ECECEC;
    padding: 10px;
}

.welcome-main {
    background-color: #ECECEC;
    margin-top: 13rem;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem;
    width: 90%;
    overflow: auto;
}

.welcome-sec {
    background-color: #ECECEC;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    width: 90%;
}

.me-portfolio-page {
    background-color: #F5D452;
}

.portfolio-main {
    background-color: #ECECEC;
    margin-top: 13rem;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem;
    width: 90%;
}

.portfolio-sec {
    background-color: #ECECEC;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    width: 90%;
}

.me-contact-page {
    background-color: #F38585;
}

.contact-main {
    background-color: #ECECEC;
    margin-top: 13rem;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem;
    width: 90%;
}

.contact-sec {
    background-color: #ECECEC;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    width: 90%;
}

.about-main {
    background-color: #ECECEC;
    margin-top: 13rem;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem;
    width: 90%;
}

.about-sec {
    background-color: #ECECEC;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    width: 90%;
}


/* header styles */

.my-contents li {
    display: inline-block;
    list-style: outside none none;
    padding: 0.3rem;
    font-size: 15px;
}


/* content styles */


/* footer styles */

footer {
    background-color: #ECECEC;
    padding-top: 20px;
    height: 120px;
}


/* mobile styles */
